table {
  width: 100%;

  margin-bottom: 3rem;
}

td {
  text-align: right;
  padding: 1rem 1rem 0 0;
}

td:first-child {
  width: 60%;
  text-align: left;
  padding: 1rem 0 0 1rem;
}

thead,
tfoot {
  background-color: lightcoral;
  color: #fff;
}

th {
  padding: 0.6rem;
}
